@font-face {
    font-family: 'PoppinsRegular';
    src: url("../../public/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url("../../public/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: 'PoppinsSemi';
    src: url("../../public/assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: 'PoppinsBold';
    src: url("../../public/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: 'OpenRegular';
    src: url("../../public/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'OpenMedium';
    src: url("../../public/assets/fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: 'OpenSemi';
    src: url("../../public/assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: 'OpenBold';
    src: url("../../public/assets/fonts/OpenSans-Bold.ttf");
}


